.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  width: 70vw;
  padding: 9px;
}

.user-container {
  background-color: rgb(213, 229, 243);
  height: 80vh;
  overflow-y: auto;
  width: 70vw;
  margin: 18px, 20px, 20px, 20px;
}

.hiddendata {
  display: none;
}
.showdata {
  display: block;
}
.data-container {
  border-style: solid;
  border-color: rgb(176, 176, 176);
  border-top: none;
  border-right: none;
  border-left: none;
}

.expand {
  background: var(--e-global-color-primary);

  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.expand:hover {
  opacity: 80%;
}
