<header class="site-header">
  <div class="site-identity">
    <a routerLink="/main">
      <img src="../../../assets/images/softkinlogobar.png" /></a>
  </div>

  <nav class="site-navigation">
    <ul class="nav">
      <li>
        <button id="user" (click)="select('user')" class="mainitembutton">
          User
        </button>
      </li>
      <li>
        <button id="trade" (click)="select('trade')" class="mainitembutton">
          Trade
        </button>
      </li>
      <li>
        <button id="p2p" (click)="select('p2p')" class="mainitembutton">
          P2P
        </button>
      </li>
      <li>
        <button class="logoutbutton" (click)="logOut()" routerLink="">
          Logout
        </button>
      </li>
    </ul>
  </nav>
  <div *ngIf="firstload()"></div>
</header>