.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  width: 70vw;
  padding: 9px;
}

.activity-container {
  background-color: rgb(213, 229, 243);
  height: 70vh;
  width: 70vw;
  margin: 18px, 20px, 20px, 20px;
}
.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.data-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
