<app-loadscreen *ngIf="!isLoaded"></app-loadscreen>
<div class="container">
  <div class="title-container"><h2>User Activity</h2></div>
  <div class="activity-container">
    <div class="header">
      <div class="action">Date</div>
      <div class="date">Description</div>
    </div>
    <div class="">
      <div class="data-container" *ngFor="let activity of activities">
        <div class="timestamp">{{ activity.timestamp }}</div>
        <div class="type">{{ activity.type }}</div>
      </div>
    </div>
  </div>
</div>
