label {
  color: var(--color-label);
  margin-top: 10px;
  margin-bottom: 10px;
}
input {
  width: 40vw;
  margin-top: 7px;
  margin-bottom: 35px;
  border-top: none;
  border-left: none;
  border-right: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

img {
  height: 20px;
  margin-right: 5px;
}

a {
  margin-top: 25px;
  text-decoration: none;
  color: rgb(195, 9, 9);
  font-weight: 600;
}

p {
  color: rgb(149, 149, 149);
  margin-top: 30px;
  margin-bottom: 30px;
}

button {
  border-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 600;
}

button:hover {
  opacity: 0.8;
}

button div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  margin-top: -25px;
  width: 40vw;
  color: aliceblue;
  border-style: none;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    var(--e-global-color-text),
    var(--e-global-color-secondary)
  );
  cursor: pointer;
}

.social-button-git {
  margin-right: 4%;
  background-color: black;
  color: aliceblue;
  width: 48%;
  margin-bottom: 30px;
  cursor: pointer;
}

.social-button-gmail {
  background-color: rgb(195, 9, 9);
  color: aliceblue;
  width: 48%;
  cursor: pointer;
}
