<div class="container">
  <h1>Sign Up</h1>
  <p>Hey, nice to meet you!</p>
  <p>It's time to create a new account</p>

  <form action="" name="signupform">
    <label for="name">Name</label><br />
    <input
      required
      minlength="3"
      [(ngModel)]="newName"
      type="text"
      name="name"
      id="newName" /><br />

    <label for="lastname">Surname</label><br />
    <input
      required
      minlength="3"
      [(ngModel)]="newSurname"
      type="text"
      name="lastname"
      id="newLastname" /><br />

    <label for="phone">Phone</label><br />
    <input
      required
      pattern="[0-9]{10}"
      [(ngModel)]="newPhoneNumber"
      type="number"
      name="phone"
      id="newphoneNumber" />

    <br />

    <label for="email">Email</label><br />
    <input
      [(ngModel)]="newEmail"
      required
      type="email"
      name="email"
      id="newEmail" /><br />

    <label for="password">Password</label><br />
    <input
      [(ngModel)]="newPassword"
      required
      type="password"
      name="password"
      id="newPassword" /><br />

    <label for="password">Confirm password</label><br />
    <input
      required
      [(ngModel)]="newConfirmPassword"
      type="password"
      name="password"
      id="newPasswordrentry" /><br />
    <p>please choose your avatar</p>
    <div class="avatarcontainer">
      <input
        (change)="playcat()"
        type="radio"
        name="avatar"
        id="radio4"
        class="input-hidden"
        value="https://i.pinimg.com/564x/8c/25/5e/8c255e0f5652f4d9da462c2a521534e2--my-children-cat-pillow.jpg" />
      <label for="radio4">
        <img
          src="https://i.pinimg.com/564x/8c/25/5e/8c255e0f5652f4d9da462c2a521534e2--my-children-cat-pillow.jpg"
          alt="I'm sad" />
      </label>

      <input
        (change)="playcat()"
        type="radio"
        value="https://i.pinimg.com/originals/41/f6/c4/41f6c4311135a769716fffa7e40cdefc.jpg"
        name="avatar"
        id="radio3"
        class="input-hidden" />
      <label for="radio3">
        <img
          src="https://i.pinimg.com/originals/41/f6/c4/41f6c4311135a769716fffa7e40cdefc.jpg"
          alt="I'm happy" />
      </label>

      <input
        (change)="playcat()"
        type="radio"
        value="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-fwq_F2sReXFnQpdEQTC5B2CcVHEGCpBXnA&usqp=CAU"
        name="avatar"
        id="radio1"
        class="input-hidden" />
      <label for="radio1">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-fwq_F2sReXFnQpdEQTC5B2CcVHEGCpBXnA&usqp=CAU"
          alt="I'm angry" />
      </label>

      <input
        (change)="playcat()"
        required
        type="radio"
        name="avatar"
        id="radio2"
        class="input-hidden"
        value="https://i.pinimg.com/originals/04/4a/78/044a78f85cfd05892a4381f0d7d0a477.jpg" />
      <label for="radio2">
        <img
          src="https://i.pinimg.com/originals/04/4a/78/044a78f85cfd05892a4381f0d7d0a477.jpg"
          alt="I'm free" />
      </label>
    </div>
    <br />

    <button
      class="submit-button"
      type="button"
      (click)="asyncsignupWithEmail()">
      Sign Up
    </button>
  </form>
  <p>or use your social profiles</p>

  <div class="socialbuttoncontainer">
    <button class="social-button-git" (click)="asyncsignupWithGitHub()">
      <div>
        <img src="../../../assets/images/github-icon.png" alt="github-icon" />
        GitHub
      </div>
    </button>
    <button class="social-button-gmail" (click)="asyncsignupWithGoogle()">
      <div>
        <img src="../../../assets/images/google-icon.png" alt="google-icon" />
        Gmail
      </div>
    </button>
  </div>
  <a routerLink="/login">Login</a>
</div>
