<div class="usertopcontainer">
  <img
    class="avatar"
    src="https://i.pinimg.com/564x/8c/25/5e/8c255e0f5652f4d9da462c2a521534e2--my-children-cat-pillow.jpg" />
  <div class="infocontainer">
    <p>Name: aquiname -- surname</p>
    <div class="rowcontainer">
      <div class="column">
        <p>Email:</p>
        <p>aqui@vael.Email</p>
      </div>
      <div class="column">
        <p>Phone:</p>
        <p>34523532454</p>
      </div>
    </div>
  </div>
  <div class="cash">
    <p>Cash avalible</p>
    <p class="cashavalible">$209234 USD</p>
  </div>
</div>
<div>
  <div>la torta</div>
  <div>las monedas</div>
  <div>el balance</div>
</div>
