<!--Loader div ends-->
<div class="usertopcontainer">
  <img class="avatar" src="{{ avatarUrl }}" />
  <div class="infocontainer">
    <p class="username">{{ fullName }}</p>
    <div class="rowcontainer">
      <div class="column">
        <p>Email:</p>
        <p>{{ email }}</p>
      </div>
      <div class="column">
        <p>Phone:</p>
        <p>{{ phoneNumber }}</p>
      </div>
    </div>
  </div>
  <div class="cash">
    <p>Cash available</p>
    <p class="cashavalible">${{ currentCash| number: '1.0-3' }} USD</p>
  </div>
</div>
<div class="ballancecontainer">
  <div class="Piecharcontainer">
    <h3>Your Crypto balance:</h3>
    <canvas class="canvas" id="can" width="400" height="400"></canvas>
  </div>
  <div class="datacontainer">
    <div class="cryptolistcontainer">
      <div class="row">
        <p class="columntitle">Crypto</p>
        <p class="columntitle">Amount</p>
        <p class="columntitle">Price in USD</p>
      </div>
      <div class="row" *ngFor="let crypto of cryptos">
        <p class="rowitem">{{ crypto.symbol }}</p>
        <p class="rowitem">{{ crypto.amount | number: '1.0-6' }}</p>
        <p class="rowitem">
          {{ crypto.priceUsd | number: '1.0-3' }}
        </p>
      </div>
    </div>
  </div>
</div>