.avatar {
  border: 1px solid #fff;
  box-shadow: 0 0 5px 5px var(--e-global-color-text);

  margin: 20px;
  border-radius: 50%;
  min-width: 100px;
  min-height: 100px;
  max-width: 110px;
  max-height: 110px;
  width: 8vw;
  height: 8vw;
}
.datacontainer {
  display: flex;
}
.cryptolistcontainer p {
  width: 10vw;
}
.canvas {
  width: 15vw;
  height: 15vw;
}

.usertopcontainer {
  display: flex;
  background-color: rgb(232, 245, 255);
}
.infocontainer {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-top: 2vh;
}

.username {
  font-weight: bold;
  padding-left: 8px;
}

.infocontainer .rowcontainer {
  display: flex;
  flex-direction: row;
}
.column {
  font-size: small;
  margin: 10px;
}

.cashavalible {
  color: aliceblue;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--e-global-color-secondary);
}

.cash {
  margin: 20px;
  margin-left: 50px;
  padding-top: 2vh;
}
.cash p {
  font-weight: 500;
}

.cryptolistcontainer {
  font-size: medium;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;

  flex-direction: column;
}
h3 {
  margin-bottom: 10px;
}
.row {
  display: flex;
  flex-direction: row;
}

.rowitem {
  margin-top: 10px;
  margin-right: 40px;
}
.columntitle {
  font-weight: 700;
  margin-right: 20px;
}

.ballancecontainer {
  padding-left: 10px;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  position: absolute;
  stroke: var(--e-global-color-secondary);
  width: 80px;
  stroke-dasharray: 269.7405090332031px;
  stroke-dashoffset: 0;
  animation: heartBeat 1s linear reverse infinite;
  transform: rotate(-90deg);
}

@keyframes heartBeat {
  50% {
    stroke-dashoffset: 269.7405090332031px;
  }
  50.01% {
    stroke-dashoffset: -269.7405090332031px;
  }
}
