<!--Loader div-->
<div class="loader" *ngIf="!userIsLoaded">
  <svg viewBox="0 0 90 90" xmlns="http://www.w3.org/2000/svg">
    <circle
      id="c"
      fill="none"
      stroke-width="4"
      stroke-linecap="round"
      cx="45"
      cy="45"
      r="43" />
  </svg>
</div>

<!--Loader div ends-->
<div class="usertopcontainer">
  <img class="avatar" src="{{ avatarurl }}" />
  <div class="infocontainer">
    <p class="username">{{ name }} {{ surname }}</p>
    <div class="rowcontainer">
      <div class="column">
        <p>Email:</p>
        <p>{{ email }}</p>
      </div>
      <div class="column">
        <p>Phone:</p>
        <p>{{ phone }}</p>
      </div>
    </div>
  </div>
  <div class="cash">
    <p>Cash available</p>
    <p class="cashavalible">${{ cash }} USD</p>
  </div>
</div>
<div class="ballancecontainer">
  <h3>Your Crypto balance:</h3>
  <div class="cryptolistcontainer">
    <div class="row">
      <p class="columntitle">Crypto</p>
      <p class="columntitle">Amount</p>
    </div>
    <div class="row" *ngFor="let usercrypto of usercryptolist">
      <div class="rowitem">{{ usercrypto.symbol }}</div>
      <div class="rowitem">{{ usercrypto.amount }}</div>
    </div>
  </div>
</div>
