.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transactions-container {
  margin-top: 20px;
  background-color: rgb(213, 229, 243);
  height: 70vh;
  width: 70vw;
  margin: 0px, 20px, 20px, 20px;
  overflow: auto;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.data-container {
  display: flex;
  text-align: center;
}

.column-size {
  width: 25%;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  background-color: var(--e-global-color-primary);
  font-weight: 700;
  margin: 0px 5px;
  height: 4vh;
}

.content{
  margin-bottom: 10px;
}

.FUND{
  color: var(--e-global-color-accent);
}

.BUY{
  color: var(--e-global-color-buy);
}

.SELL{
  color: var(--e-global-color-sell);
}

