<app-loadscreen *ngIf="!isLoaded"></app-loadscreen>
<div class="container">
  <div class="coins-section">
    <div class="title-container">
      <h2>Available Coins</h2>
    </div>
    <div class="coinlistcontainer">
      <div class="coinrow" *ngFor="let selectcrypto of cryptos">
        <div class="cryptosymbol">{{ selectcrypto.symbol }}</div>
        <div class="cryptoprice">
          {{ selectcrypto.price }}
          <div class="usd-tag">USD</div>
        </div>
      </div>
    </div>
  </div>
  <div class="offer-container">
    <div class="title-container">
      <h2>Sell Crypto</h2>
    </div>
    <div>
      <div class="price-div">
        Total
        <input disabled type="text" name="price" [(ngModel)]="cryptoSelectedTotalPrice" />
      </div>

      <div class="amount-div">
        Amount
        <input [(ngModel)]="newAmount" type="text" name="amount" (ngModelChange)="getAmountAndBalance()"
          placeholder="Insert amount" />
        <select [(ngModel)]="cryptoSelected" name="availableCryptos" (change)="getAmountAndBalance()"
          id="availableCryptos">
          <option disabled selected>--</option>
          <option *ngFor="let selectcrypto of userCryptos">
            {{ selectcrypto.symbol }}
          </option>
        </select>
      </div>

      <div>
        <button [disabled]="cryptoSelected == '--' || !newAmount" (click)="actionBuy()"
          class="submit-button">Sell</button>
      </div>
    </div>
    <div class="user-balance">
      <div class="title-container">
        <h2>User Cryptos</h2>
      </div>
      <div class="amount-div">
        Balance
        <input disabled type="text" [(ngModel)]="cryptoBalanceSelected" name="amount" id="userCryptoBalance"
          placeholder="Select a crypto" />
      </div>
    </div>
  </div>
</div>