<div class="container">
  <div class="coins-section">
    <div class="title-container"><h2>Avaliable Coins</h2></div>
    <div class="coinlistcontainer">
      <div class="coinrow" *ngFor="let selectcrypto of cryptos">
        <div class="cryptosymbol">{{ selectcrypto.symbol }}</div>
        <div class="cryptoprice">
          {{ selectcrypto.price }}
          <div class="usd-tag">USD</div>
        </div>
      </div>
    </div>
  </div>
  <div class="offer-container">
    <div class="title-container"><h2>Sell Crypto</h2></div>
    <div>
      <div class="price-div">
        Price
        <input disabled type="text" name="price" />
      </div>

      <div class="amount-div">
        Amount
        <input [(ngModel)]="newAmount" type="text" name="amount" />
        <select name="availableCryptos" id="availableCryptos">
          <option *ngFor="let selectcrypto of availableCryptos">
            {{ selectcrypto.symbol }}
          </option>
        </select>
      </div>

      <div>
        <button (click)="actionBuy()" class="submit-button">Sell</button>
      </div>
    </div>
    <div class="user-balance">
      <div class="title-container"><h2>User Cryptos</h2></div>
      <div class="amount-div">
        Balance
        <input
          disabled
          type="text"
          [(ngModel)]="cryptoBalanceSelected"
          name="amount"
          id="userCryptoBalance" />
        <select (change)="setCryptoBalance()" name="cryptos" id="cryptoBalance">
          <option
            [(ngModel)]="cryptoSelected"
            *ngFor="let selectcrypto of userCryptos">
            {{ selectcrypto.symbol }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
