a {
  margin: 30px;
  text-decoration: none;
}
.button {
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 60px;
  width: 23vw;
  font-size: 1.1rem;
  text-align: left;
  color: inherit;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.nonselected {
  color: rgb(59, 59, 60);
  background-color: aliceblue;
}
button:hover {
  color: rgb(59, 59, 60);
  background-color: rgb(184, 193, 201);
}

.selected {
  color: aliceblue;
  background-color: var(--e-global-color-primary);
}
.selected a {
  color: aliceblue;
}

.hiden {
  visibility: hidden;
}
