<div class="sidebarcontainer">
  <ul>
    <div class="subcommentscontainer" *ngFor="let item of sidebaritems">
      <div>
        <li>
          <button
            id="{{ item }}"
            class="nonselected"
            (click)="activeItem(item)"
            routerLink="/main/{{ mainitem }}/{{ item }}">
            {{ item.replace('_', ' ') }}
          </button>
        </li>
      </div>
    </div>
    <div *ngIf="sidebaritems">
      <div *ngIf="doSomething()"></div>
    </div>
  </ul>
</div>
