a {
  margin: 30px;
  text-decoration: none;
}
.button {
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 60px;
  width: 23vw;
  font-size: 1.1rem;
  text-align: left;
  color: inherit;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.nonselected {
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 60px;
  width: 23vw;
  font-size: 1.1rem;
  text-align: left;
  color: inherit;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: rgb(59, 59, 60);
  background-color: aliceblue;
}
.nonselected:hover {
  color: rgb(59, 59, 60);
  background-color: rgb(184, 193, 201);
}

.selected {
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 60px;
  width: 23vw;
  font-size: 1.1rem;
  text-align: left;
  color: inherit;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: aliceblue;
  background-color: var(--e-global-color-primary);
}

.hiden {
  visibility: hidden;
}

.sidebarcontainer {
  margin-top: -28px;
  position: fixed;
  height: 83.5vh;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-color: rgb(227, 227, 227);
}
