<div class="container">
  <h1>Login</h1>
  <p>Hi there, nice to see you again</p>
  <form action="">
    <label for="email">Email</label><br />
    <input [(ngModel)]="newEmail" type="email" name="email" /><br />

    <label for="password">Password</label><br />
    <input [(ngModel)]="newPassword" type="password" name="password" /><br />

    <button class="submit-button" (click)="asyncloginWithEmail()">Login</button>
  </form>
  <p>or use your social profiles</p>
  <button class="social-button-git" (click)="asyncloginWithGitHub()">
    <div>
      <img src="../../../assets/images/github-icon.png" alt="github-icon" />
      GitHub
    </div>
  </button>
  <button class="social-button-gmail" (click)="asyncloginWithGoogle()">
    <div>
      <img src="../../../assets/images/google-icon.png" alt="google-icon" />
      Gmail
    </div></button
  ><br />
  <a routerLink="/signup">Sign Up</a>
</div>
