.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  width: 70vw;
  padding: 9px;
}

.messages-container {
  background-color: rgb(213, 229, 243);
  height: 70vh;
  width: 70vw;
  margin: 18px, 20px, 20px, 20px;
}

.data-container {
  border-style: solid;
  border-color: black;
  width: 67vw;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.data-container div {
  text-align: center;
  width: 8.5vw;
}
