<div *ngIf="existusercoins()">
  <div class="headerinfo">
    <div class="title">Coin</div>
    <div class="title">Amount</div>
    <div class="title"></div>
  </div>
  <div class="coins-container" *ngFor="let singlecoin of usercoins">
    <div class="crypto">{{ singlecoin.symbol }}</div>
    <div class="crypto">{{ singlecoin.amount | number: '1.0-6' }}</div>
    <button class="offerbutton" (click)="makeOffer(singlecoin.symbol)">
      Make Offer
    </button>
    <br />
  </div>
  <form
    name="offerform"
    id="offerform{{ singleuser!.userId }}"
    class="hiddenform">
    <p id="buymessage">Buy {{ currentcoin }}:</p>
    <input
      [(ngModel)]="newammount"
      [ngModelOptions]="{ standalone: true }"
      type="number"
      placeholder="Offer an amount" />
    <input
      [(ngModel)]="newprice"
      [ngModelOptions]="{ standalone: true }"
      type="number"
      placeholder="Offer a price" />
    <div>
      <p class="Total">Total: ${{ total }} USD</p>
    </div>
    <button class="sendofferbutton" (click)="buyOffer()">
      Send Offer Message
    </button>
  </form>
</div>
<br />
<div>{{ message }}</div>
