input {
  margin: 8px;
  padding: 10px;
  padding-left: 16px;
  padding-top: 8px;

  border-radius: 5px;
  border-color: rgb(225, 241, 255);
  border-style: solid;
  border-width: 2px;
  background-color: rgb(225, 241, 255);
}

.headerinfo {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.coins-container {
  display: flex;
}

.crypto {
  margin-left: 1vw;
  width: 15vw;
}

.title {
  font-weight: 700;
  margin-left: 1vw;

  width: 15vw;
}

button:hover {
  opacity: 75%;
}
.offerbutton {
  width: 200px;
  margin: 5px;
  color: aliceblue;
  border-style: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 600;
  background-color: rgb(40, 186, 32);
  cursor: pointer;
}
.sendofferbutton {
  width: 200px;
  margin: 5px;
  color: aliceblue;
  border-style: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 600;
  background-color: rgb(40, 186, 32);
  cursor: pointer;
}
.hiddenform {
  display: none;
}
.offerform {
  display: block;
}

form {
  margin-left: 20px;
}
form p {
  font-weight: 600;
}
