<app-loadscreen *ngIf="!isLoaded"></app-loadscreen>
<div class="maincontainer">
  <div class="coins-section">
    <div class="title-container">
      <h2>Available Coins</h2>
    </div>
    <div class="coinlistcontainer">
      <div class="coinrow" *ngFor="let selectcrypto of cryptos">
        <div class="cryptosymbol">{{ selectcrypto.symbol }}</div>
        <div class="cryptoprice">
          {{ selectcrypto.price }}
          <div class="usd-tag">USD</div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <form>
      <div class="title-container">
        <h3>Buy crypto</h3>
      </div>
      <div class="input-class">
        <input required disabled pattern="[0-9]" value="{{ (USDCryptoValue / currencyConverterFactor).toFixed(6) }}"
          type="number" name="Amount" id="newAmount" placeholder="Enter Amount" />

        <select (change)="changeConversionFactor()" name="cryptos" id="cryptobuyselect">
          <option disabled selected>--</option>
          <option *ngFor="let selectcrypto of newCryptolist">
            {{ selectcrypto }}
          </option>
        </select>
      </div>
      <div class="input-class">
        <input [(ngModel)]="USDCryptoValue" name="AmountInUsd" id="newAmountInUsd" placeholder="Insert amount" />
        <label for="AmountInUsd">USD</label>
      </div>

      <button class="submit-button" type="button" (click)="actionBuy()">
        Buy
      </button>
      <div class="cash">
        <p class="cashavalible">Cash available ${{ user?.currentCash }} USD</p>
      </div>
    </form>
  </div>
</div>