<div class="maincontainer">
  <div>
    <h1>Avaliable Coins:</h1>
    <div class="coinlistcontainer">
      <div class="coinrow" *ngFor="let selectcrypto of cryptos">
        <p>{{ selectcrypto.symbol }}:</p>
        <p>{{ selectcrypto.price }}USD</p>
      </div>
    </div>
  </div>

  <div class="column">
    <form>
      <h1>buy Crypto</h1>
      <div class="cash">
        <p>Cash avalible</p>
        <p class="cashavalible">${{ cashAvailable }} USD</p>
      </div>
      <br />
      <select name="cryptos" id="cryptobuyselect">
        <option *ngFor="let selectcrypto of newCryptolist">
          {{ selectcrypto }}
        </option>
      </select>
      <br />
      <input
        required
        pattern="[0-9]"
        [(ngModel)]="newCryptoBuy"
        type="number"
        name="Amount"
        id="newAmount"
        placeholder="Enter Amount" />

      <br />
      <button class="submit-button" type="button" (click)="actionBuy()">
        Buy
      </button>
    </form>
  </div>
</div>
