/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
}
body {
  background-color: #090947;
}

.maincontentcontainer {
  margin-left: 22.8vw;
  margin-top: -28px;
  background-color: aliceblue;
  width: 100%;
  padding: 0;
  margin-bottom: 28px;
}
app-user,
app-trade,
app-p2p {
  display: flex;
  background-color: aliceblue;
}
app-recharge {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-sidebar {
  border-style: solid;
  border-top: none;
  border-left: none;
  border-bottom: none;
  background-color: rgb(230, 230, 230);
  border-color: rgb(230, 228, 228);
  height: 80vh;
}
app-header {
  width: 100%;
  position: fixed;

  margin-top: -100px;
  background-color: aliceblue;
}
app-main .mainbodycontainer {
  margin-top: 100px;
  padding-top: 0px;
  background-color: aliceblue;
}
app-login {
  overflow-y: auto;
  overflow-y: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
}

app-sign-up {
  overflow-y: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
}

:root {
  --color-label: rgb(237, 49, 49);
  --e-global-color-primary: #090947;
  --e-global-color-secondary: #ff3eaf;
  --e-global-color-text: #6f00d0;
  --e-global-color-accent: #009bff;
  --e-global-color-8ba86b6: #2a358c;
  --e-global-color-buy: #28ba20;
  --e-global-color-sell: #d11f1f;
}
